flask-sqlalchemy = "*"
honcho = "*"
flask-restful = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-migrate = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
bcrypt = "*"
faker = "*"
jsonify = "*"