[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
honcho = "*"
flask-restful = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-migrate = "*"
flask = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
bcrypt = "*"
faker = "*"
jsonify = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
